.contact-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  width: 60%;
  padding: 15px 30px;
  background-color: rgb(224, 224, 224);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-left: 80px;
  background-color: rgb(231, 231, 231);
  margin-top: 30px;
  text-align: left;
  font-size: 10px;
}

.checkbox-group input {
  margin-right: 8px;
  margin-top: -75px;
}

button[type="submit"] {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 150px;
}

button:hover {
  background-color: #0056b3;
}